.bottomBar {
    width: 100%;
    height: 10vh;
    background-color: transparent;
    border-top: 1px solid #aaa;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Raleway, sans-serif;
}

.slidecontainer {
    text-align: center;
    /* width: 90%; Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 10px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 10px; /* Set a specific slider handle width */
    height: 10px; /* Slider handle height */
    background: #000; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 10px; /* Set a specific slider handle width */
    height: 10px; /* Slider handle height */
    background: #000; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  /* #generateArray {
    font-size: 16px;
    font-family: monospace;
    display: inline-block;
    margin-left: 25px;
    margin-right: 15px;
} */


#generateArray{ 
    color: black;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #aaa;
    padding: 0.5rem;
}

#generateArray:hover {
    color: rgb(212, 212, 212) !important;
    background-color: #222;
}

/* #generateArrayX {
    font-size: 16px;
    font-family: monospace;
    display: inline-block;
    margin-left: 25px;
    margin-right: 15px;
} */